[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kmi"]
	path = kmi
	url = https://github.com/aallignol/kmi
[submodule "lgtdl"]
	path = lgtdl
	url = https://github.com/cran/lgtdl
[submodule "mvna"]
	path = mvna
	url = https://github.com/cran/mvna
